
.about{
    background-color: #298CCD;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}
.about .heading_my{
    font-family: 'Inter' !important;
    font-size: 2.5rem !important;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
}
.description{
    /* padding: 10px; */
   
   text-align: center;
}

.contact_info{
    font-family: 'Inter' !important;
    font-size: 1.2rem !important;

}